.card {
  width: 30rem;
  padding: 2rem;
}

.card-img-top, .recipe-img {
  width: 100%;
}

.wrapper {
  text-align: center;
  padding: 2rem;
}

.ingridients {
  font-size: 2.4rem;
}

li {
  list-style-type: none;
  font-size: 1.4rem;
}

.recipe-header {
  margin: 50px 0;
}

.recipe-img-box, .desc-box {
  margin: 50px 0;
}

.table {
  margin-bottom: 50px;
  th {
    text-align: inherit;
  }
}
