.card {
  width: 30rem;
  padding: 2rem;
}

.card-img-top, .recipe-img {
  width: 100%;
}

.wrapper {
  text-align: center;
  padding: 2rem;
}

.ingridients {
  font-size: 2.4rem;
}

li {
  list-style-type: none;
  font-size: 1.4rem;
}

.recipe-header {
  margin: 5rem 0;
}

.recipe-img-box, .desc-box {
  margin: 50px 0;
}

.table {
  margin-bottom: 50px;
  th {
    text-align: inherit;
  }
}

.margin-top-btm {
  margin: 30px 0;
}

.form-control {
  margin: 10px;
}

.ingridient-form-height {
  min-height: 80px;
}

.recipe-form-height {
  min-height: 120px
}

.formError {
  color: red;
  font-weight: 500;
}

.field_with_errors .form-control {
  border: 1px solid red;
}

.delete-ingridient-line-height {
  height: auto;
  line-height: 54px;
  label {
    font-weight: 300;
    input {
      vertical-align: -4px;
    }
  }
}
